@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* --------------------------------------------------- 
    RESPONSIVENESS
    Mobile first 
------------------------------------------------------ */
/* Wrapper - main content width 800px */
.wrapper {display:block; max-width:800px; margin-left:auto; margin-right:auto; background:#FFFFFF;}
table { display: table; width:100%}
thead { display: table-header-group; }
tbody { display: table-row-group;}
tfoot { display: table-footer-group; }
tr { display: table-row; }
th, td { display: table-cell; vertical-align:top;}
table.cols-2 td {width: 50%;}
table.cols-3 td {width: 33.333333%;}
@media only screen and (max-width: 600px) {
	table, thead, tbody, tfoot, tr, th, td {
		display: block!important; 
		vertical-align:top; 
		text-align:left; 
		margin:0;
		border:none;
	}
	table {width: 100%;}
	th, td {padding: 0; margin:0;}
	th {text-align: center;}
	td {}
	table.cols-2 td {width: 100%!important}
	table.cols-3 td {width: 100%!important}
}

/* ------------------------------------- 
      GLOBAL 
------------------------------------- */


* { 
  margin:0;
  padding:0;
  font-family: "Montserrat", Helvetica, Arial, sans-serif; 
  text-rendering: optimizelegibility;
}

img { 
  max-width: 100%; 
}
.collapse {
  margin:0;
  padding:0;
}

body {
  -webkit-font-smoothing:antialiased; 
  -webkit-text-size-adjust:none; 
  width: 100%!important; 
  height: 100%;
  font-family: "Montserrat", Helvetica, Arial, sans-serif; 
  text-rendering: optimizelegibility;
  font-size:18px; 
  font-weight:400;
  background:#F2F2F2;
  color: #000000;
}

.content {padding:10px;}

/* ------------------------------------- 
    ELEMENTS 
------------------------------------- */
#logo {
	height: auto;
	width:350px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 0px;
}
.logo {
	width:100%;
    text-align: center !important;
}
a,
a:visited {
    color: #2A3052;
    text-decoration: none;
    font-weight: bold
}

a:hover,
a:active,
a:visited:hover,
a:visited:active {
    text-decoration: underline
}

p {
	
    margin: 10px 0;
	word-wrap: break-word;
}


/* BUTTON */
button {
    text-decoration: none;
    text-align: center;
    line-height: 100%;
    text-transform: capitalize;
    padding: 10px 25px;
    display: inline-block;
    font-weight: 400;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    border: 0;
    background: #2E8836;
    color: #FFFFFF;
}

button:active,
button:hover {
    text-decoration: none
}

button:visited {
    color: #FFF
}

button:active,
button:hover {
    background-color: #14602B
}

button.button-secondary {
    background: #F2F2F2;
    color: #000
}

button.button-secondary:active,
button.button-secondary:hover,
button.button-secondary:visited {
    background-color: #DEDEDE
}

.button {
    cursor: pointer;
    margin-bottom: 0.5em 
}

.button span {
    text-decoration: none;
    text-align: center;
    line-height: 100%;
    text-transform: capitalize;
    padding: 10px 25px;
    display: inline-block;
    font-weight: 400;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    border-radius: 3px;
    overflow: visible;
    border: 0;
    color: #FFFFFF;
    background: #2E8836
}

.button span:active,
.button span:hover {
    text-decoration: none
}

.button span:hover {
    background-color: #14602B
}

.button spanvisited {
    color: #FFFFFF
}

.button-secondary {
    cursor: pointer;
    margin-bottom: 0.5em
}

.button-secondary span {
    text-decoration: none;
    text-align: center;
    line-height: 100%;
    text-transform: capitalize;
    padding: 10px 25px;
    display: inline-block;
    font-weight: 400;
    font-family: inherit;
    border-radius: 3px;
    overflow: visible;
    border: 0;
    color: #000000;
    background: #F2F2F2
}

.button-secondary span:active,
.button-secondary span:hover {
    text-decoration: none
}

.button-secondary span:hover {
    text-decoration: none;
    background: #DEDEDE
}

.button-disabled {
    cursor: pointer;
    margin-bottom: 0.5em
}

.button-disabled span {
    text-decoration: none;
    text-align: center;
    line-height: 100%;
    text-transform: capitalize;
    padding: 10px 25px;
    display: inline-block;
    font-weight: 400;
    font-family: inherit;
    border-radius: 3px;
    overflow: visible;
    white-space: nowrap;
    border: 0;
    color: #DEDEDE;
    background: #F2F2F2;
    cursor: default
}

.button-disabled span:active,
.button-disabled span:hover {
    text-decoration: none
}

.button-disabled span:active,
.button-disabled span:hover {
    color: #DEDEDE;
    background: #F2F2F2
}

p.callout {
	padding:15px;
	background-color:#F2F2F2;
	margin-bottom: 25px;
	color: #000000;
}

blockquote {
  margin: 30px 0;
  border: 1px solid #DEDEDE;
  padding: 15px;
  background-color: #F2F2F2;
}

blockquote p{
  color: #33373b;
  font-weight: 400;
  line-height: 26px;
  font-size: 18px;
  margin: 0;
}

.resources {
	background: #F2F2F2; 
	text-align: center; 
	color: #2A3052; 
	padding:10px
	}
.resources h3 {
	
}


.promo-section-dark {
	background-color: #2A3052; 
	padding: 20px 0;
	margin:20px 0;
	}
	
.message-section {
	text-align: center;
	padding: 20px 30px;
}	

.promo-header-section-dark {
	background-color: #2A3052;
	
}

.promo-header-section-dark h1 {
	color: #FFFFFF;
	padding: 40px;
	margin:0 0 0 20px;
}
.promo-header-section-dark h1 span {
	display:block;
	color: #e98024;
}
.bg-image {
	background: url(General-Trading.jpg);
    background-size: cover;
	background-position:center;
	min-height:200px;
}
/* ------------------------------------- 
    TYPOGRAPHY 
------------------------------------- */
h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", Helvetica, Arial, sans-serif; 
}

.font-n {
    font-size: 16px
}

.font-s {
    font-size: 14px
}

.font-xs {
    font-size: 12px
}

h1 {
    font-size: 36px;
    font-weight: 300!important;
    color: #E98024;
	margin:20px 0;
}

h1 a {
    color: #E98024!important
}

h1.dark {
    color: #2A3052
}

h1.dark a {
    color: #2A3052!important
}

h2 {
    font-size: 28px;
    color: #E98024;
    font-weight: 300!important;
}
h2.dark {
    color: #2A3052
}

h2 a {
    color: #2A3052!important
}

h2 em {
    text-decoration: underline
}

h2.center {
    text-align: center;
    margin: 1.25em auto
}

h3 {
    color: #2A3052;
    font-size: 22px;
    font-weight: 300
}

h3 a {
    color: #2A3052!important
}

h4 {
    color: #000;
    font-size: 18px;
	font-weight: 300!important;
}

h4 a {
    color: #000!important
}
h5 {
    color: #000;
    font-size: 16px;
}

h5 a {
    color: #2A3052!important
}
h6 {
    color: #000;
    font-size: 14px
}

h6 a {
    color: #2A3052!important
}

.collapse { margin:0!important;}

ol,
ul {
    list-style: none
}

ul.bullet {
    margin: 1.25em 0 1.25em 1.25em
}

ol {
    margin: 1.25em 0 1.25em 1.25em
}

ul.bullet li {
    list-style-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='18px' height='18px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath fill='%23e98024' d='M12,17.5A5.5,5.5,0,1,1,17.5,12,5.507,5.507,0,0,1,12,17.5Zm0-9A3.5,3.5,0,1,0,15.5,12,3.5,3.5,0,0,0,12,8.5Z'/%3E%3C/svg%3E")
}

ol li,
ul li {
    line-height: 1.4em;
    margin: .5em 0 0
}

ol li ol,
ol li ul,
ul li ol,
ul li ul {
    margin: .8em 0 0 1em
}

ol li {
    list-style-type: decimal;
    list-style-image: none
}

img {
    vertical-align: middle;
    border: 0
}
ul.checked li {
    min-height: 24px;
    padding-left: 35px;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg width='24px' height='24px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpolygon fill='%23e98024' points='8.308 22.298 0.399 14.39 3.934 10.854 8.308 15.228 20.066 3.47 23.601 7.005 8.308 22.298'/%3E%3C/svg%3E") no-repeat
}

i {
    font-style: italic
}


/* ------------------------------------------- 
    MODIFIERS 
-------------------------------------------- */
.font-n{
    font-size: 18px;
}
.font-s{
    font-size: 13px;
}
.font-xs{
    font-size: 10px;
}

.primary-color {
    background-color: #2A3052
}

.primary-bg-color {
    background-color: #2A3052
}

.secondary-color {
    color: #E98024
}

.secondary-bg-color {
    background-color: #E98024
}

.primary-color-dark {
    background-color: #15212D
}

.primary-bg-color-dark {
    background-color: #15212D
}

.content-inverse-color {
    color: #FFF
}

.fill-bg-color {
    background-color: #F2F2F2
}

.border-color {
    color: #DEDEDE
}
.centered {
    text-align: center !important; margin-left:0; margin-right:0;
}
.separator {
    border-top:1px solid #DEDEDE;
    margin:20px 0; 
 }
 .center-text {
    text-align: center !important;
}

.separator-line {
    margin-top: 10px;
    margin-bottom: 10px
}


/* ------------------------------------- 
    FOOTER 
------------------------------------- */

.subfooter h4 {color:#E98024;}
.subfooter, .footer {font-size:13px;}
.subfooter {border-top:5px solid #F2F2F2}
.footer {background:#F2F2F2}
/* Social */

.Social__nav { overflow:hidden; margin-top:0px; padding:3px 0px; list-style:none;}
.Social__nav li { display:inline-block; *display:inline;zoom:1;padding:0px;}
.Social__nav li img{ margin-top:-1px;}
.Social__nav li a {
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 35px;
    height: 35px;
    line-height: 30px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 0px;
}
.Social__nav a:hover {z-index: 2; }






